<launch>
	<arg name="robot_name"/>
	<group ns="$(arg robot_name)">

		<include file="$(find roscore_communication)/launch/includes/discovery.launch.xml">
			<arg name="_mcast_group" value="224.0.0.1"/>
		</include>

		<include file="$(find roscore_communication)/launch/includes/sync.launch.xml">
			<arg name="sync_topics" value="['/robot*/map']"/>
		</include>
	</group>
</launch>
