<launch>
	<arg name="robot_name"/>
	<group ns="$(srg robot_name)">
		<node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery">
			<param name="_mcast_gruop" value="224.0.0.1"/>
		</node>

		<node pkg="master_sync_fkie" type="master_sync" name="master_sync">
			<rosparam param="sync_topics">['/robot*/map']</rosparam>
		</node>
	</group>
</launch>
