<launch>
	<arg name="robot_name" default="robot1"/>

	<group ns="$(arg robot_name)">
		<node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" output="screen">
			<param name="_mcast_group" value="224.0.0.8"/>
		</node>

		<node pkg="master_sync_fkie" type="master_sync" name="master_sync" output="screen">
			<rosparam param="sync_topics">[ '/robot*/map',
											'/robot*/map_updates',
											'/robot*/robot_pose',
											'/robot*/camera/rgb/image_color/compressed',
											'/robot*/rtabmap/cloud_obstacles',
											'*/cmd_vel_mux/input/teleop']</rosparam>
		</node>
	</group>
</launch>
