<launch>
    <arg name="robot1_name" default="robot1"/>
    <arg name="robot2_name" default="robot2"/>

    <group ns="$(arg robot1_name)">
        <include file="$(find multi_turtlebot_gazebo)/launch/includes/one_turtlebot_rtabmap.launch.xml">
            <arg name="robot_name"  value="$(arg robot1_name)"/>
        </include>
    </group>

     <group ns="$(arg robot2_name)">
        <include file="$(find multi_turtlebot_gazebo)/launch/includes/one_turtlebot_rtabmap.launch.xml">
            <arg name="robot_name"  value="$(arg robot2_name)"/>
        </include>
    </group>
</launch>