<launch>
    <arg name="robot_name" default="robot1"/>
    <arg name="init_x" default="0.0"/>
    <arg name="init_y" default="0.0"/>
    <arg name="init_yaw" default="0.0"/>

    <arg name="mapping" default="true"/>
    <arg name="rtabmap" default="true"/>
    <arg name="gmapping" default="false"/>
    <arg name="multi" default="false"/>

    <group ns="$(arg robot_name)">
        <include file="$(find multi_turtlebot_gazebo)/launch/includes/one_turtlebot_spawn.launch.xml">
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="init_x" value="$(arg init_x)"/>
            <arg name="init_y" value="$(arg init_y)"/>
            <arg name="init_yaw" value="$(arg init_yaw)"/>
        </include>

        <include if="$(eval arg('mapping') and arg('rtabmap'))" file="$(find multi_turtlebot_gazebo)/launch/includes/one_turtlebot_rtabmap.launch.xml">
            <arg name="robot_name"  value="$(arg robot_name)"/>
            <arg name="multi" default="$(arg multi)"/>
        </include>

        <include if="$(eval arg('mapping') and arg('gmapping'))" file="$(find multi_turtlebot_gazebo)/launch/includes/one_turtlebot_gmapping.launch.xml">
            <arg name="robot_name"  value="$(arg robot_name)"/>
        </include>
    </group>
</launch>