<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find lab_turtlebot_description)/urdf/config/steleo/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find lab_turtlebot_description)/urdf/config/kobuki.urdf.xacro" />
  <xacro:include filename="$(find lab_turtlebot_description)/urdf/config/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find lab_turtlebot_description)/urdf/config/steleo/steleo.urdf.xacro"/>
  
  <kobuki/>
  <stack_hexagons parent="base_link"/>
  <sensor_steleo  parent="base_link"/>
</robot>
