<launch>
  <arg name="robot_name" default="robot1"/>
  <arg name="multi" default="false"/>
  <arg name="merge_map_frame" default="/server/merge_map"/>
  <arg name="merge_map_topic" default="/server/merge_map/grid"/>

  <group ns="$(arg robot_name)">
    <include file="$(find multi_turtlebot_mapping)/launch/includes/gmapping.launch.xml">
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="multi" value="$(arg multi)"/>
      <arg name="merge_map_frame" value="$(arg merge_map_frame)"/>
      <arg name="merge_map_topic" value="$(arg merge_map_topic)"/>
    </include>
  </group>

</launch>
