<launch>
  <!-- turtlebot_teleop_key already has its own built in velocity smoother -->
  <arg name="robot_name" default="robot1"/>
  <arg name="control_robot_name" default="robot1"/>

  <group ns="$(arg robot_name)">
    <node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="$(arg control_robot_name)_teleop_keyboard"  output="screen">
      <param name="scale_linear" value="0.5" type="double"/>
      <param name="scale_angular" value="1.5" type="double"/>
      <remap from="$(arg control_robot_name)_teleop_keyboard/cmd_vel" to="/$(arg control_robot_name)/cmd_vel_mux/input/teleop"/>
    </node>
  </group>
</launch>
