<launch>
  <arg name="robot_name"/>

  <arg name="robot1_init_x" default="0.0"/>
  <arg name="robot1_init_y" default="0.0"/>
  <arg name="robot1_init_yaw" default="0.0"/>

  <arg name="robot2_init_x" default="0.0"/>
  <arg name="robot2_init_y" default="0.0"/>
  <arg name="robot2_init_yaw" default="0.0"/>

  <group ns="$(arg robot_name)">
  
    <include if="$(eval arg('robot_name') == 'robot1')" file="$(find map_merge)/launch/includes/map_merge_tf_publisher.launch.xml">
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="init_x" value="$(arg robot1_init_x)"/>
      <arg name="init_y" value="$(arg robot1_init_y)"/>
      <arg name="init_yaw" value="$(arg robot1_init_yaw)"/>
    </include>

    <include if="$(eval arg('robot_name') == 'robot2')" file="$(find map_merge)/launch/includes/map_merge_tf_publisher.launch.xml">
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="init_x" value="$(arg robot2_init_x)"/>
      <arg name="init_y" value="$(arg robot2_init_y)"/>
      <arg name="init_yaw" value="$(arg robot2_init_yaw)"/>
    </include>


    <include file="$(find map_merge)/launch/includes/map_merge.launch.xml">
      <arg name="robot_name" value="$(arg robot_name)"/>

      <arg name="robot1_init_x" value="$(arg robot1_init_x)"/>
      <arg name="robot1_init_y" value="$(arg robot1_init_y)"/>
      <arg name="robot1_init_yaw" value="$(arg robot1_init_yaw)"/>

      <arg name="robot2_init_x" value="$(arg robot2_init_x)"/>
      <arg name="robot2_init_y" value="$(arg robot2_init_y)"/>
      <arg name="robot2_init_yaw" value="$(arg robot2_init_yaw)"/>

    </include>

  </group>

</launch>
