<launch>
  <arg name="robot_name" default="robot1"/>

  <arg name="robot1_init_x" default="0.0"/>
  <arg name="robot1_init_y" default="0.0"/>
  <arg name="robot1_init_yaw" default="0.0"/>

  <arg name="robot2_init_x" default="1.5"/>
  <arg name="robot2_init_y" default="0.0"/>
  <arg name="robot2_init_yaw" default="0.0"/>

  <arg name="map_resolution" default="0.05"/>

  <arg name="affine" default="-1.0"/>

  <arg name="server" default="false"/>

  <group ns="$(arg robot_name)">

    <group if="$(eval arg('robot_name') == 'robot1')">

      <include file="$(find map_merge)/launch/includes/map_merge_tf_publisher.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="init_x" value="$(arg robot1_init_x)"/>
        <arg name="init_y" value="$(arg robot1_init_y)"/>
        <arg name="init_yaw" value="$(arg robot1_init_yaw)"/>
      </include>


      <include unless="$(arg server)" file="$(find map_merge)/launch/includes/grid_map_merge.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="robot1_init_x" value="$(eval arg ('robot1_init_x') / arg ('map_resolution') * arg ('affine'))"/>
        <arg name="robot1_init_y" value="$(eval arg ('robot1_init_y') / arg ('map_resolution') * arg ('affine'))"/>
        <arg name="robot1_init_yaw" value="$(arg robot1_init_yaw)"/>
        <arg name="robot2_init_x" value="$(eval arg ('robot2_init_x') / arg ('map_resolution') * arg ('affine'))"/>
        <arg name="robot2_init_y" value="$(eval arg ('robot2_init_y') / arg ('map_resolution') * arg ('affine'))"/>
        <arg name="robot2_init_yaw" value="$(arg robot2_init_yaw)"/>
        <arg name="map_num" value="1"/>
      </include>

    </group>

    <group if="$(eval arg('robot_name') == 'robot2')">

      <include file="$(find map_merge)/launch/includes/map_merge_tf_publisher.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="init_x" value="$(arg robot2_init_x)"/>
        <arg name="init_y" value="$(arg robot2_init_y)"/>
        <arg name="init_yaw" value="$(arg robot2_init_yaw)"/>
      </include>

     <include unless="$(arg server)" file="$(find map_merge)/launch/includes/grid_map_merge.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>

        <arg name="robot1_init_x" value="$(eval arg ('robot1_init_x') / arg ('map_resolution') * arg ('affine'))"/>
        <arg name="robot1_init_y" value="$(eval arg ('robot1_init_y') / arg ('map_resolution') * arg ('affine'))"/>
        <arg name="robot1_init_yaw" value="$(arg robot1_init_yaw)"/>

        <arg name="robot2_init_x" value="$(eval arg ('robot2_init_x') / arg ('map_resolution') * arg ('affine'))"/>
        <arg name="robot2_init_y" value="$(eval arg ('robot2_init_y') / arg ('map_resolution') * arg ('affine'))"/>
        <arg name="robot2_init_yaw" value="$(arg robot2_init_yaw)"/>

        <arg name="map_num" value="2"/>

      </include>
    </group>

    <include unless="$(arg server)" file="$(find map_merge)/launch/includes/cloud_map_merge.launch.xml">
      <arg name="robot_name" value="$(arg robot_name)"/>

      <arg name="robot1_init_x" value="$(arg robot1_init_x)"/>
      <arg name="robot1_init_y" value="$(arg robot1_init_y)"/>
      <arg name="robot1_init_yaw" value="$(arg robot1_init_yaw)"/>

      <arg name="robot2_init_x" value="$(arg robot2_init_x)"/>
      <arg name="robot2_init_y" value="$(arg robot2_init_y)"/>
      <arg name="robot2_init_yaw" value="$(arg robot2_init_yaw)"/>
    </include>

    <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="map_merge_odom_publisher">
      <param name="map_frame" value="$(arg robot_name)/merge_map"/>
      <param name="base_frame" value="$(arg robot_name)/base_link"/>
      <param name="is_stamped" value="true"/>
    </node>
  </group>
</launch>
