<?xml version="1.0"?>
<robot name="sensor_urg" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find multi_turtlebot_gazebo)/world/models/robot/config/turtlebot_properties.urdf.xacro"/>
  
  <xacro:macro name="sensor_urg" params="parent">
    <joint name="urg_joint" type="fixed">
      <origin xyz="${urg_px} ${urg_py} ${urg_pz}" rpy="${urg_ox} ${urg_oy} ${urg_oz}" />
      <parent link="${parent}" />
      <child link="urg_frame" />
    </joint>
    <link name="urg_frame"/>
  </xacro:macro>
</robot>
